*{
    box-sizing: border-box;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0,0%,25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 10px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
.button2:hover{
    box-shadow: 0 10px 16px 0 rgba(44, 44, 44, 0.2), 0 6px 20px 0 rgba(56, 56, 56, 0.19);
}